th{
    color: green;
    font-weight: 800;
    background-color: salmon;
    color: #ffff;

}
table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: salmon;
}